@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body {
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 440px;
    height: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 8px 10px 10px #ccc;
}

h2 {
    font-weight: 400;
    text-align: center;
}

.frm-row {
    margin-bottom: 15px;
}

.frm-row label {
    display: block;
    margin-bottom: 3px;
}

.frm-row input {
    width: calc(100% - 16px);
    height: 25px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

.btn {
    background-color: #0000FF;
    border-radius: 4px;
    border-style: none;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.btn:hover {
    background-color: #0000CD;
}

li {
    margin-bottom: 12px;
}